.up {
    width: 40px;
    height: 40px;
    background: var(--primary);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.up:hover {
    color: var(--primary-hover);
    cursor: pointer;
}