.footer {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px 40px;

    font-size: 16px;
    line-height: 20px;
    color: var(--white);
    background: var(--primary);
    padding: 25px 30px;
    transition: opacity .3s ease-in-out;
}

.footer a:hover {
    cursor: pointer;
    opacity: .6;
    color: var(--gray-light);
}

@media (max-width: 765px) {
   .footer {
       grid-template-columns: 1fr;
   }
}